@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-minimal::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .scrollbar-minimal::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-minimal::-webkit-scrollbar-thumb {
        @apply bg-gray-200 dark:bg-white/10 rounded-full transition-colors;
        background-clip: padding-box;
        border: 2px solid transparent;
    }

    .scrollbar-minimal::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-300 dark:bg-white/20;
    }
}